[Unit]
Description=The RestXMPP Service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/restxmpp.pid
ExecStart=/usr/local/src/RestXMPP/bin/restxmpp start
ExecReload=/usr/local/src/RestXMPP/bin/restxmpp restart
ExecStop=/usr/local/src/RestXMPP/bin/restxmpp stop

[Install]
WantedBy=multi-user.target
